.control {
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #0b1822;

  @include mixins.fluid(border-radius, 15px, 7.5px, 320px, 640px);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #020a0e;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  @include mixins.fluid(border-radius, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(padding-top, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-left, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(padding-right, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(gap, 11px, 5.5px, 320px, 640px);
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030f17;
  border: 3px solid #294354;
  width: 100%;
  font-weight: 900;
  color: #41657c;

  @include mixins.fluid(border-radius, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(padding-top, 18px, 9px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 18px, 9px, 320px, 640px);
  @include mixins.fluid(padding-left, 20px, 10px, 320px, 640px);
  @include mixins.fluid(padding-right, 20px, 10px, 320px, 640px);
  @include mixins.fluid(border-width, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(font-size, 27px, 13.5px, 320px, 640px);

  &:not(:disabled) {
    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: #162c39;
        color: #41657c;
      }
    }
  }

  &:disabled {
    color: #1a2832;
    cursor: not-allowed;
  }

  &.row {
    grid-column: 1 / 3;
  }

  & img {
    @include mixins.fluid(max-width, 25px, 12.5px, 320px, 640px);
    @include mixins.fluid(max-height, 25px, 12.5px, 320px, 640px);
  }
}

.betButton {
  grid-column: 1 / 3;
  font-weight: 900;
  background-color: #ffef1a;
  box-shadow:
    inset 0 -4px 4px 0px #d8a215,
    inset 0 4px 4px 0px #ffc736;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease 0s;
  color: #020a0e;

  @include mixins.fluid(font-size, 27px, 13.5px, 320px, 640px);
  @include mixins.fluid(border-radius, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(padding-top, 16px, 8px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 16px, 8px, 320px, 640px);

  &::before {
    content: "";
    display: block;
    background: #fff;
    position: absolute;
    top: 0;

    @include mixins.fluid(width, 75px, 37.5px, 320px, 640px);
    @include mixins.fluid(height, 3px, 1.5px, 320px, 640px);
    @include mixins.fluid(left, 12px, 6px, 320px, 640px);
  }

  :not(:disabled) {
    @media (any-hover: hover) {
      cursor: pointer;
      &:hover {
        transform: scale(0.99);
      }
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #8d8715;
    box-shadow:
      inset 0 -4px 4px 0px #765d12,
      inset 0 4px 4px 0px #8d711e;

    &::before {
      background-color: #a1977b;
    }
  }
}

.buttonIcon {
  animation: pulse 1s ease 0s infinite alternate both;

  @include mixins.fluid(font-size, 30px, 15px, 320px, 640px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1) rotate(10deg);
  }
  20% {
    transform: scale(1.2) rotate(30deg);
  }
  30% {
    transform: scale(1.3) rotate(20deg);
  }
  40% {
    transform: scale(1.3) rotate(10deg);
  }
  50% {
    transform: scale(1.3) rotate(0deg);
  }
  60% {
    transform: scale(1.3) rotate(-10deg);
  }
  70% {
    transform: scale(1.3) rotate(-30deg);
  }
  80% {
    transform: scale(1.3) rotate(-10deg);
  }
  90% {
    transform: scale(1.3) rotate(-30deg);
  }

  100% {
    transform: scale(0.9) rotate(0deg);
  }
}

.widgets {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include mixins.fluid(gap, 3px, 1.5px, 320px, 640px);
}

.widget {
  width: 100%;
  padding: 5px 11px;

  @include mixins.fluid(padding-top, 5px, 2.5px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 5px, 2.5px, 320px, 640px);
  @include mixins.fluid(padding-left, 11px, 5.5px, 320px, 640px);
  @include mixins.fluid(padding-right, 11px, 5.5px, 320px, 640px);

  &:is(:first-child) {
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #030f17;

      @include mixins.fluid(width, 3px, 1.5px, 320px, 640px);
    }
  }
}

.widgetText {
  font-weight: 900;
  color: #41657c;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  @include mixins.fluid(font-size, 16px, 8px, 320px, 640px);
  @include mixins.fluid(gap, 6px, 3px, 320px, 640px);
}

.widgetArrow {
  @include mixins.fluid(max-width, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(max-height, 11px, 5.5px, 320px, 640px);
}

.widgetAchievements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.achievementsCount {
  background-color: #eeb713;
  color: #000;
  text-align: center;

  @include mixins.fluid(border-radius, 2.5px, 1.25px, 320px, 640px);
  @include mixins.fluid(padding-top, 2.5px, 1.25px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 2.5px, 1.25px, 320px, 640px);
  @include mixins.fluid(padding-left, 6px, 4px, 320px, 640px);
  @include mixins.fluid(padding-right, 6px, 4px, 320px, 640px);
}

.widgetCollected {
  display: flex;
  align-items: center;

  @include mixins.fluid(gap, 8px, 4px, 320px, 640px);
}

.collectedList {
  display: flex;
  // align-items: center;

  @include mixins.fluid(gap, 4px, 2px, 320px, 640px);
}

.collectedItem {
  background-color: #030f17;
  border: 1px solid #132b3d;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.fluid(padding-top, 2px, 1px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 2px, 1px, 320px, 640px);
  @include mixins.fluid(padding-left, 4px, 2px, 320px, 640px);
  @include mixins.fluid(padding-right, 4px, 2px, 320px, 640px);
  @include mixins.fluid(border-radius, 2.5px, 1.25px, 320px, 640px);
}

.input {
  color: #fff;
  border: 3px solid #294354;
  background: transparent;
  font-weight: 900;

  @include mixins.fluid(border-width, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(border-radius, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(padding-top, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-left, 20px, 10px, 320px, 640px);
  @include mixins.fluid(padding-right, 20px, 10px, 320px, 640px);
  @include mixins.fluid(font-size, 27px, 13.5px, 320px, 640px);
  @include mixins.fluid(margin-top, 7px, 3.5px, 320px, 640px);
  @include mixins.fluid(margin-bottom, 11px, 5.5px, 320px, 640px);

  &::placeholder {
    color: #1a2832;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.switch {
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-weight: 900;
  color: #294354;
  text-transform: uppercase;

  @include mixins.fluid(font-size, 16px, 8px, 320px, 640px);
  @include mixins.fluid(gap, 6px, 3px, 320px, 640px);
}

.achievements {
  display: flex;
  flex-direction: column;

  @include mixins.fluid(gap, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(margin-top, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(margin-bottom, 3px, 1.5px, 320px, 640px);
}

.achievement {
  display: flex;
  flex-direction: column;
  background-color: #0b1822;

  @include mixins.fluid(gap, 8px, 4px, 320px, 640px);
}

.achievementHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2832;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.3);

  @include mixins.fluid(padding-top, 5px, 2.5px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 5px, 2.5px, 320px, 640px);
  @include mixins.fluid(padding-left, 12px, 6px, 320px, 640px);
  @include mixins.fluid(padding-right, 12px, 6px, 320px, 640px);
}

.achievementHeadLeft {
  display: flex;
  align-items: center;
}

.achievementState {
  color: #fff;
  font-weight: 900;
  font-style: italic;

  @include mixins.fluid(font-size, 16px, 8px, 320px, 640px);
  @include mixins.fluid(margin-right, 10px, 5px, 320px, 640px);
}

.achievementBonuse {
  display: flex;
  align-items: center;
  color: #f4c318;

  @include mixins.fluid(margin-right, 25px, 12.5px, 320px, 640px);
  @include mixins.fluid(font-size, 16px, 8px, 320px, 640px);
  @include mixins.fluid(gap, 5px, 2.5px, 320px, 640px);
}

.achievementProgress {
  display: flex;
  align-items: center;
}

.achievementProgressBar {
  background-color: #000;
  position: relative;

  @include mixins.fluid(border-radius, 2px, 1px, 320px, 640px);
  @include mixins.fluid(height, 5px, 2.5px, 320px, 640px);
  @include mixins.fluid(width, 111px, 55.5px, 320px, 640px);
  @include mixins.fluid(margin-right, 5px, 2.5px, 320px, 640px);
}

.achievementProgressBarValue {
  background-color: #ffed1a;
  box-shadow: inset 0 0 4px 0 #da9820;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;

  @include mixins.fluid(border-radius, 2px, 1px, 320px, 640px);
}

.achievementProgressFraction {
  font-weight: 900;
  color: #435968;

  @include mixins.fluid(margin-left, 10px, 5px, 320px, 640px);
  @include mixins.fluid(font-size, 15px, 7.5px, 320px, 640px);
}

.achievementProgressFractionValue {
  color: #fbe32e;
}

.achievementDesc {
  color: #41657c;
  font-weight: 900;

  @include mixins.fluid(padding-top, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-left, 10px, 5px, 320px, 640px);
  @include mixins.fluid(padding-right, 10px, 5px, 320px, 640px);
  @include mixins.fluid(font-size, 16px, 8px, 320px, 640px);
}

.achievementsTitle {
  background-color: #1a2832;
  color: #41657c;
  font-weight: 900;

  @include mixins.fluid(padding-top, 8px, 4px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 8px, 4px, 320px, 640px);
  @include mixins.fluid(padding-left, 16px, 8px, 320px, 640px);
  @include mixins.fluid(padding-right, 16px, 8px, 320px, 640px);
  @include mixins.fluid(font-size, 16px, 8px, 320px, 640px);
}
