.main {
  flex: 1 1 auto;
  border: 3px solid #122a3b;
  display: flex;
  flex-direction: column;

  @include mixins.fluid(padding-top, 45px, 22.5px, 320px, 640px);
  @include mixins.fluid(padding-left, 12px, 6px, 320px, 640px);
  @include mixins.fluid(padding-right, 12px, 6px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 17.5px, 8.75px, 320px, 640px);
  @include mixins.fluid(border-radius, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(border-width, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(margin, 15px, 7.5px, 320px, 640px);
}
