.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mixins.fluid(min-height, 107px, 52px, 320px, 640px);
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  // position: absolute;
}

.title {
  background-color: #162c39;
  color: #41657c;
  border: 3px solid #030f17;
  position: relative;

  @include mixins.fluid(border-radius, 10px, 5px, 320px, 640px);
  @include mixins.fluid(font-size, 23px, 11.5px, 320px, 640px);
  @include mixins.fluid(border-width, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(padding-top, 20px, 10px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 20px, 10px, 320px, 640px);
  @include mixins.fluid(padding-left, 100px, 50px, 320px, 640px);
  @include mixins.fluid(padding-right, 100px, 50px, 320px, 640px);
  @include mixins.fluid(margin-bottom, 15px, 7.5px, 320px, 640px);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #162c39;
    z-index: -1;

    @include mixins.fluid(border-radius, 10px, 5px, 320px, 640px);
    @include mixins.fluid(width, 60px, 30px, 320px, 640px);
    @include mixins.fluid(height, 50px, 25px, 320px, 640px);
  }
  &::before {
    left: 0;
    transform: translate(-50%, 50%);
  }
  &::after {
    right: 0;
    transform: translate(50%, 50%);
  }
}
.subtitle {
  color: #41657c;

  @include mixins.fluid(font-size, 23px, 11.5px, 320px, 640px);
}
.lea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // position: relative;
  width: 100%;

  @include mixins.fluid(min-height, 500px, 250px, 320px, 640px);
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  position: relative;
}

.button {
  border: 3px solid #294354;
  color: #41657c;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.fluid(border-width, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(border-radius, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(padding-top, 24px, 12px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 24px, 12px, 320px, 640px);
  @include mixins.fluid(padding-left, 22px, 11px, 320px, 640px);
  @include mixins.fluid(padding-right, 22px, 11px, 320px, 640px);
  @include mixins.fluid(font-size, 32px, 16px, 320px, 640px);
  @include mixins.fluid(margin-bottom, 9px, 4.5px, 320px, 640px);

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #162c39;
    }
  }
}

.chipsButton {
  img {
    @include mixins.fluid(max-width, 150px, 75px, 320px, 640px);
    @include mixins.fluid(max-height, 70px, 35px, 320px, 640px);
  }
}

.betting {
  display: flex;
  align-items: center;
  position: absolute;
}

.bettingArc {
  position: relative;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #162c39;
    font-weight: 900;

    @include mixins.fluid(font-size, 32px, 16px, 320px, 640px);
  }

  img {
    @include mixins.fluid(max-width, 65px, 32.5px, 320px, 640px);
    @include mixins.fluid(max-height, 195px, 97.5px, 320px, 640px);
  }

  &.bettingArcLeft {
    span {
      transform: translate(-75%, -50%) rotate(90deg);
    }
  }

  &.bettingArcRight {
    span {
      transform: translate(-35%, -50%) rotate(-90deg);
    }
  }
}

.bettingArcRight {
  img {
    transform: scaleX(-1);
  }
}

.bettingChip {
  border-radius: 50%;
  border: 9px solid #41657c;

  @include mixins.fluid(padding, 20px, 10px, 320px, 640px);
  @include mixins.fluid(border-width, 9px, 4.5px, 320px, 640px);
  @include mixins.fluid(margin-left, -5px, -2.5px, 320px, 640px);
  @include mixins.fluid(margin-right, -5px, -2.5px, 320px, 640px);

  img {
    @include mixins.fluid(max-width, 118px, 59px, 320px, 640px);
    @include mixins.fluid(max-height, 118px, 59px, 320px, 640px);
  }
}

.bettingInsurrance {
  display: flex;
  align-items: center;
  background-color: #19ff24;
  position: absolute;
  right: 0;

  @include mixins.fluid(gap, 16px, 8px, 320px, 640px);
  @include mixins.fluid(border-radius, 16px, 8px, 320px, 640px);
  @include mixins.fluid(padding-top, 4px, 2px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 4px, 2px, 320px, 640px);
  @include mixins.fluid(padding-left, 8px, 4px, 320px, 640px);
  @include mixins.fluid(padding-right, 8px, 4px, 320px, 640px);

  p {
    color: #000;
    text-transform: uppercase;

    @include mixins.fluid(font-size, 24px, 12px, 320px, 640px);
  }

  span {
    background: #000;
    color: #19ff24;

    @include mixins.fluid(font-size, 32px, 16px, 320px, 640px);
    @include mixins.fluid(padding-top, 4px, 2px, 320px, 640px);
    @include mixins.fluid(padding-bottom, 4px, 2px, 320px, 640px);
    @include mixins.fluid(padding-left, 12px, 6px, 320px, 640px);
    @include mixins.fluid(padding-right, 12px, 6px, 320px, 640px);
    @include mixins.fluid(border-top-right-radius, 16px, 8px, 320px, 640px);
    @include mixins.fluid(border-bottom-right-radius, 16px, 8px, 320px, 640px);
  }
}

.bettingRatio {
  display: flex;
  align-items: center;
  border: 6px solid #f0b90b;
  position: absolute;
  left: 0;
  color: #fff;

  @include mixins.fluid(border-radius, 20px, 10px, 320px, 640px);
  @include mixins.fluid(padding-top, 4px, 2px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 4px, 2px, 320px, 640px);
  @include mixins.fluid(padding-left, 12px, 6px, 320px, 640px);
  @include mixins.fluid(padding-right, 12px, 6px, 320px, 640px);
  @include mixins.fluid(font-size, 32px, 16px, 320px, 640px);

  @media (any-hover: hover) {
    cursor: pointer;
  }
}

.chips {
  height: 350px;
  width: 100%;
  position: absolute;
  background: rgba(255, 0, 0, 0.4);
  border-radius: 50%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 54, 68, 0.8);
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: all 0.3s ease 0s;

  @include mixins.fluid(height, 350px, 175px, 320px, 640px);

  &.active {
    transform: translateY(40%);
    opacity: 1;
    pointer-events: all;
  }
}

.chip {
  position: absolute;
  border: 2px solid transparent;
  border-radius: 50%;

  @include mixins.fluid(padding, 4px, 2px, 320px, 640px);
  @include mixins.fluid(border-width, 2px, 1px, 320px, 640px);

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      border-color: #fff;
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

.chipNote {
  position: absolute;
  right: 2%;
  bottom: 41%;

  @include mixins.fluid(font-size, 12px, 6px, 320px, 640px);
}

.chipSum {
  position: absolute;
  left: 50%;
  bottom: 43%;
  transform: translateX(-50%);
  border: 4px solid #41667d;
  border-radius: 50%;

  @include mixins.fluid(border-width, 4px, 2px, 320px, 640px);

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

.hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include mixins.fluid(gap, 18px, 9px, 320px, 640px);

  &.handUser {
    top: 55%;
  }

  &.handRival {
    top: 0%;
  }
}

.cards {
  display: flex;

  @include mixins.fluid(gap, 23px, 11.5px, 320px, 640px);
}

.card {
  border: 4px solid transparent;
  transition: all 0.3s ease 0s;

  @include mixins.fluid(border-radius, 10px, 5px, 320px, 640px);
  @include mixins.fluid(border-width, 4px, 2px, 320px, 640px);

  &.winner {
    border-color: #1fff20;
  }

  &.lose {
    border-color: #ff271f;
  }

  img {
    @include mixins.fluid(max-width, 91px, 45.5px, 320px, 640px);
    @include mixins.fluid(max-height, 136px, 68px, 320px, 640px);
  }
}

.counter {
  color: #fff;
  background-color: #41657c;
  text-align: center;
  display: inline-block;

  @include mixins.fluid(font-size, 20px, 10px, 320px, 640px);
  @include mixins.fluid(border-radius, 12.5px, 6.25px, 320px, 640px);
  @include mixins.fluid(padding-top, 7.5px, 3.75px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 7.5px, 3.75px, 320px, 640px);
  @include mixins.fluid(padding-left, 15px, 7.5px, 320px, 640px);
  @include mixins.fluid(padding-right, 15px, 7.5px, 320px, 640px);

  &.winner {
    color: #000;
    background-color: #1fff20;
  }
}

.insurranceMessage {
  background-color: #040f15;
  border: 3px solid #182837;

  @include mixins.fluid(font-size, 26px, 13px, 320px, 640px);
  @include mixins.fluid(border-width, 3px, 1.5px, 320px, 640px);
  @include mixins.fluid(border-radius, 6px, 3px, 320px, 640px);
  @include mixins.fluid(padding-top, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-bottom, 14px, 7px, 320px, 640px);
  @include mixins.fluid(padding-left, 24px, 12px, 320px, 640px);
  @include mixins.fluid(padding-right, 24px, 12px, 320px, 640px);
}
